body{
    background-color: hsl(212, 45%, 89%);
    padding: 100px 0;
    padding-left: 50px;
    font-family: 'Outfit', sans-serif;
}

.row{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    width: 330px;
    margin: auto;
    border-radius: 15px;
}

/************* IMAGE SECTION **************/
img{
    margin-top: 15px;
    max-width: 300px;
    border-radius: 10px;
}

/************ TEXT SECTION **************/
p{
    max-width: 250px;
    margin: auto;
}
#para{
    padding: 25px 0 15px;
    font-weight: bold;
    font-size: 22px;
    max-width: 280px;
    color: hsl(218, 44%, 22%);
}

#graph{
    padding-bottom: 30px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

/************ ATTRIBUTION SECTION ************/
.attribution{
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%);
}